<div class="container">

    <div class="mt-5 row">
      
        <h4 class="mb-3">Borrar Pizza</h4>
        <div class=container>
            <div >
                <label for="nombre" class="form-label">Nombre:</label>
                <h5>{{pizzaBorrar.nombre}}</h5>  
            </div>

            <div >
                <label for="ingredientes" class="form-label">Ingredientes</label>
                <h5>{{pizzaBorrar.ingredientes}}</h5>
            </div>

            <div >
                <label for="precio" class="form-label">Precio</label>
                <h5>{{pizzaBorrar.precio}}</h5>
            </div>

            <div >
                <label for="peso" class="form-label">Peso</label>
                <h5>{{pizzaBorrar.peso}}</h5>
            </div>
        </div> 
    </div> 
    <hr class="mb-2">  
    <br>
    <button type="button" class="mb-5 btn btn-dark btn-lg btn-block" (click)="borrarPizza()" >Borrar pizza</button>

</div>
